# Copy to .env and fill in your key.
MODEL=
MODEL_PROVIDER=
BASE_URL=
API_KEY=

# Langsmith Configuration for tracing (optional)
LANGSMITH_TRACING=
LANGSMITH_ENDPOINT=
LANGSMITH_API_KEY=
LANGSMITH_PROJECT="minideepagents"
